*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 設定 box-sizing*/
}
#cards{

  display:flex;
  flex-flow:row wrap;
  width: 85%;
  margin: 0 auto;
}
.card-primary{
  /* 100 / 13 = 7... */
  flex:7% 1 1;
  height: 10vw;
  border: 2px solid #e0e0e0;
  margin: 2px; /* 卡片邊距 */
}

.card-inside{
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
}
.card-inside p{
  margin: 3px;
  font-size: 20px;
}
.card-inside img{
  width: 30%;
  align-self: center;
}
.card-inside p:nth-child(3){
  transform: rotate(180deg);
}
.back{
  background-image: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
  
}
.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}
#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img {
  max-width: 3em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}

.wrong{
  animation: wrongAnimatiton 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimatiton{
  100%{
    border: 2px solid #ffd54f;
  }
}